# License
# Obtain your license key at https://pdf-redaction.com/licenses/
PDF_REDACTION_LICENSE=

# Backend Configuration
DATABASE_HOST=db
DATABASE_PASSWORD=your_secure_password_here
ALLOWED_HOSTS=localhost,backend,0.0.0.0,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
SIGNING_KEY=generate_a_complex_random_key_here

# Frontend Configuration
API_URL=http://backend:8000
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
NEXTAUTH_URL=http://localhost:3000/api/auth
NEXTAUTH_SECRET=generate_a_complex_random_key_here
NODE_ENV=production
NEXT_PUBLIC_AUTH_METHODS=userpass
NEXT_PUBLIC_PII_API_URL=http://127.0.0.1:8002/api/deidentify/ner/text

# Api Configuration
PDF_REDACTION_API_OPENMETER_SOURCE=pdf_redaction_studio
PDF_REDACTION_API_LICENSE=${PDF_REDACTION_LICENSE}
